/* footer styles - copied from site */
footer {
    background-color: #1c1c1c;
    color: white;
    padding: 55px 50px
}

footer a {
    color: #e6e6e6
}

footer a:hover {
    color: white
}

footer a i.fa {
    margin: 5px 14px 0 0;
    font-size: 30px
}

footer .footer-logo {
    width: 40px;
    margin-bottom: 10px
}